<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="gov.sandia.jess.debug.launching.Main">
<stringAttribute key="gov.sandia.jess.editor.launching.jessFileName" value="recom.clp"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AppRecomender"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AppRecomender"/>
</launchConfiguration>
